@{
    ViewBag.Title = "CryptoPedia";
}
<body>

    <h1>Brief overview of Coins on Aquarius</h1>

    <div class="row" id="btc" style="color: black;text-align:center;">
        <div class="col-md-4">
            <img src="~/Content/Images/bitcoin.png" alt="Bitcoin" />
        </div>

        <div class="col-md-8">
            <h2>Bitcoin (BTC)</h2>
            <h4>
                Description: "Bitcoin is a cryptocurrency and worldwide payment system. It is the first decentralized digital currency, as the system works without a central bank or single administrator."
            </h4>

            <h4>
                Introduction: "The theory behind Bitcoin was first described by Satoshi Nakomoto in a whitepaper: A Peer to Peer Electronic Cash System published to a cryptographic mailing list on the 31st of October 2008. In this paper, Satoshi described the protocol (Proof of Work) that would solve the double-spend problem inherent in non-physical (digital) forms of currency. The first or Genesis block was mined by Satoshi on the 3rd of January 2009, with the text <q>The Times 03/Jan/2009 Chancellor on brink of second bailout for banks</q> written into the coinbase of the block"
            </h4>

            <h4>
                Technology: "31st October 2008 - White paper released by Satoshi Nakomoto. 3rd January 2009 - Genesis block mined by Satoshi Nakomoto. 12th January 2009 -  First transaction using Bitcoin; Satoshi Nakomoto sends 100 BTC to Hal Finney. 22nd May 2010 - First recorded commercial transaction using Bitcoin; aka Pizza Day. 14th January 2016 - Lightning Network white paper, a Layer-2 solution to scaling Bitcoin. 1st August 2017 - Bitcoin Cash (BCH) hard fork. 23rd August 2017 - Segregated Witness (SegWit) implemented."
            </h4>

            <h4>
                Future: "Decentralized access allowing any party with the open-source software and internet access to send and receive Bitcoin irreversibly without third party interference or trust. Decentralized governance via open-source development and forking. Relatively slow block times in comparison to other crypto-currencies although there are solutions in development such as the Lightning Network aiming to solve the problem of scaling."
            </h4>
        </div>

    </div>

    <div class="row" id="eth" style="color: black;text-align:center;">
        <div class="col-md-4">
            <img src="~/Content/Images/ethereum.png" alt="Ethereum" />
        </div>

        <div class="col-md-8">
            <h2>Ethereum (ETH)</h2>
            <h4>
                Description: "Ethereum is a decentralized platform for applications. Applications build on it can use smart contracts - computer algorithms which execute themselves when data is supplied to the platform. There is no need for any human operators."
            </h4>

            <h4>
                Introduction: "General Data and Information. The Ethereum white paper was released by Vitalik Buterin in late 2013 after proposals to include a scripting language to enable decentralized applications (dApps) on the Bitcoin blockchain failed to gain traction. Ether is the native currency of the Ethereum blockchain and is used to compensate nodes for performing computations in the Turing-complete instruction set of the Ethereum Virtual Machine (EVM). These instructions form the backbone of smart contracts and digital asset ownership which are recorded and issued upon the Ethereum blockchain."
            </h4>

            <h4>
                Technology: "The development and governance of Ethereum relies upon the use of open-source Ethereum Improvement Proposals (EIPs) whereby developers and the wider public can submit proposals to improve or change standards to the Ethereum platform. These proposals can affect all aspects of the Ethereum ecosystem, from core code changes and ERC token standards through to public informational resources."
            </h4>

            <h4>
                Future: "Significant Features. - Designed as a Virtual Machine with a Turing-complete language means that Ethereum is the Swiss Army tool of blockchains. Highly flexible and adaptable, but perhaps not always the most efficient solution. - A comparatively large hashrate makes Ethereum one of the more secure blockchains in existence. - Solutions to scaling problems are being investigated, including sharding and a move to Proof of Stake consensus protocol. These changes are slated to be released under the codename Casper."
            </h4>
        </div>

    </div>

    <div class="row" id="ltc" style="color: black;text-align:center;">
        <div class="col-md-4">
            <img src="~/Content/Images/litecoin.png" alt="LiteCoin" />
        </div>

        <div class="col-md-8">
            <h2>LiteCoin (LTC)</h2>
            <h4>
                Description: Litecoin is a peer-to-peer Internet currency that enables instant, near-zero cost payments to anyone in the world. Litecoin is an open source, global payment network that is fully decentralized without any central authorities.
            </h4>

            <h4>
                Introduction:  "General Data and Information. The Litecoin software was released on the 7th October 2011 by Charlie Lee, with the network going live roughly a week later on the 13th of October 2011. As a fork of Bitcoin Core, Litecoin featured several improvements upon the original Bitcoin protocol including reduced blocktimes (decreased to 2.5 minutes instead of 10 minutes), increased total supply and a different proof of work algorithm (scrypt vs SHA-256). The adoption of a faster blocktime meant that transactions were quicker to settle and be written into the blockchain, whilst the adoption of the memory intensive scrypt algorithm was intended to defeat the ASIC dominance of mining (due to the added financial costs of producing specialized mining machines with the required extra memory). However, due to the popularity of Litecoin, ASICs have been already developed and deployed that are able to mine the scrypt algorithm."
            </h4>

            <h4>
                Technology: "7th October 2011 - Open Source software for Litecoin released. 13th October 2011 - Litecoin network goes live. May 2017 - Segregated Witness (SegWit) implemented. First Lightning Network transaction completed on the Litecoin network. Utility. Litecoin serves a similar use-case function as Bitcoin, attempting to be a digital store of value and medium of exchange but with the advantage of faster block times (which makes transactions faster to settle). In addition (due to lower network usage), it has lower transaction fees than the better known flagship crypto-currency. However, it suffers from a smaller market capitalization and liquidity which makes it much less useful as a pairing partner for other crypto-currencies."
            </h4>

            <h4>
                Future: "Significant Features. - Average Blocktime of 2.5 minutes; Total supply of 84 million LTC; Proof of Work consensus based on scrypt algorithm. - Transactions are pseduo-anonymous. Funds are sent address to address, but an owner identity can eventually attributed to an address given enough data and analysis. - Whilst sharing many decentralized attributes of consensus and governance as Bitcoin, Litecoin does have a known creator who can provide vision and guidance for the direction of the project. - Decentralized access allowing any party with the open-source software and internet access to send and receive Bitcoin irreversibly without third party interference or trust. - Decentralized governance via open-source development and forking. References: .."
            </h4>
        </div>

    </div>

    <div class="row" id="lrc" style="color: black;text-align:center;">
        <div class="col-md-4">
            <img src="~/Content/Images/loopring.png" alt="Loopring" />
        </div>

        <div class="col-md-8">
            <h2>Loopring (LRC)</h2>
            <h4>
                Description: "Loopring is not only a protocol but also a decentralized automated execution system that trades across the crypto-token exchanges, shielding users from counterparty risk and reducing the cost of trading. By pooling the liquidity of cryptocurrencies, we are building the financial system of the future."
            </h4>

            <h4>
                Introduction: "Loopring is an open protocol for scalable, non-custodial exchanges. Loopring 3.0 is our newest, fastest, and most forward-looking protocol."
            </h4>

            <h4>
                Technology: "Loopring 3.0 can settle up to 1,400 trades per second while guaranteeing the same level of security as the underlying Ethereum blockchain. This is made possible by using a construction called zkRollup, and a feature called On-Chain Data Availability, or OCDA. If OCDA is disabled, Loopring throughput becomes as high as 10,500 trades per second, but security reduces to that of the consortium which maintains said data. The average settlement cost for each trade with Loopring 3.0 is as low as $0.002 USD, which covers the gas for Ethereum transactions and the cost of proof generation on cloud computing platforms."
            </h4>

            <h4>
                Future: "DEXes can further lower the settlement cost by using cheaper servers in the cloud and GPU-based algorithms. To put things in perspective, most brokers' stock trading fees in the US are in the range of $2 to $7 USD per trade.."
            </h4>
        </div>

    </div>
</body>